@model BDshka.ViewModels.AutorizationModel
<p><a asp-action="Registration">Регистрация</a></p>
<h2>Авторизация</h2>
<form asp-action="autorization" asp-controller="account">
    <p>
        <label asp-for="Log_in">Логин</label><br />
        <input type="text" asp-for="Log_in" />
        <span asp-validation-for="Log_in"></span>
    </p>
    <p>
        <label asp-for="Pass_word">Пароль</label><br />
        <input type="text" asp-for="Pass_word" />
        <span asp-validation-for="Pass_word"></span>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
