@model BDshka.Models.ClientsModel

<h2>Редактирование пользователя</h2>
<form asp-action="edit" asp-controller="account" asp-route-id="@Model.ID_Client">
    <p>
        <label asp-for="FIO">Имя</label><br />
        <input type="text" asp-for="FIO" />
        <span asp-validation-for="FIO"></span>
    </p>
    <p>
        <label asp-for="Phone_Number">Телефон</label><br />
        <input type="text" asp-for="Phone_Number" />
        <span asp-validation-for="Phone_Number"></span>
    </p>
    <p>
        <label asp-for="ID_Role">Роль</label><br />
        <input type="number" asp-for="ID_Role" />
        <span asp-validation-for="ID_Role"></span>
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
