@model BDshka.Models.ClientsModel

<h2>Регистрация</h2>
<form asp-action="postregistration" asp-controller="account">
    <p>
        <label asp-for="FIO">Имя</label><br />
        <input type="text" asp-for="FIO" />
        <span asp-validation-for="FIO"></span>
    </p>
    <p>
        <label asp-for="Phone_Number">Телефон</label><br />
        <input type="text" asp-for="Phone_Number" />
        <span asp-validation-for="Phone_Number"></span>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
