@model BDshka.Models.ClientsModel

<h2>Регистрация</h2>
<form asp-action="postregistration" asp-controller="account">
    <p>
        <label asp-for="ID_Client">ID(убрать)</label><br />
        <input type="number" asp-for="ID_Client" />
    </p>
    <p>
        <label asp-for="FIO">Имя</label><br />
        <input type="text" asp-for="FIO" />
    </p>
    <p>
        <label asp-for="Phone_Number">Телефон</label><br />
        <input type="text" asp-for="Phone_Number" />
    </p>
    <p>
        <label asp-for="ID_Role">Роль</label><br />
        <input type="number" asp-for="ID_Role" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
