@model BDshka.Models.ClientsModel

<h2>Регистрация</h2>
<form asp-antiforgery="true" asp-action="registration" asp-controller="account">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    <p>
        <label asp-for="Log_in">Логин</label><br />
        <input type="text" asp-for="Log_in" />
        <span asp-validation-for="Log_in"></span>
    </p>
    <p>
        <label asp-for="Pass_word">Пароль</label><br />
        <input type="text" asp-for="Pass_word" />
        <span asp-validation-for="Pass_word"></span>
    </p>

        <p>
            <label asp-for="FIO">Имя</label><br />
            <input type="text" asp-for="FIO" />
            <span asp-validation-for="FIO"></span>
        </p>
        <p>
            <label asp-for="Phone_Number">Телефон</label><br />
            <input type="text" asp-for="Phone_Number" />
            <span asp-validation-for="Phone_Number"></span>
        </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}