@model BDshka.Models.SecurityModel

<h2>Регистрация</h2>
<form asp-action="registration" asp-controller="home">
    <p>
        <label asp-for="ID_Client">ID(Убрать)</label><br />
        <input type="number" asp-for="ID_Client" />
    </p>
    <p>
        <label asp-for="Log_in">Логин</label><br />
        <input type="text" asp-for="Log_in" />
    </p>
    <p>
        <label asp-for="Pass_word">Пароль</label><br />
        <input type="text" asp-for="Pass_word" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
